# NextJS ENVs
# Get this variable automaticly deployed with `bun run convex:dev`
CONVEX_DEPLOYMENT=dev:something_something
NEXT_PUBLIC_CONVEX_URL=https://something_something.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://something_something.convex.site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_POSTHOG_KEY=Posthog_Key
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
UPLOADTHING_TOKEN=UploadThing_ApiKey

# Convex ENVs
BETTER_AUTH_SECRET= # Generate with `openssl rand -base64 32`
SITE_URL=http://localhost:3000
POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_API_KEY=Posthog_Key
UPLOADTHING_API_KEY=UploadThing_ApiKey
MISTRALAI_API_KEY=MistralAI_ApiKey
OPENROUTER_API_KEY=OpenRouter_ApiKey
EXA_API_KEY=Exa_ApiKey
GOOGLE_CLIENT_ID=Google_OAuth_ClientId
GOOGLE_CLIENT_SECRET=Google_OAuth_ClientSecret
ALLOWED_DOMAIN=domain1.com,domain2.yeah