# Get this variable automaticly deployed with `bun run convex:dev`
CONVEX_DEPLOYMENT=dev:something_something # team: arthur-loureiro, project: school-onu-panel
NEXT_PUBLIC_CONVEX_URL=https://something_something.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://something_something.convex.site
