# Get this variable automaticly deployed with `bun run convex:dev`
CONVEX_DEPLOYMENT=dev:something_something
NEXT_PUBLIC_CONVEX_URL=https://something_something.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://something_something.convex.site
NEXT_PUBLIC_SITE_URL=http://localhost:3000